.store-container {
    width: 100%;
    height: auto;
    /* position: relative; */
    padding: 8px;
}

.content-header {
    width: 90%;
    height: 50%;
    /* top: 6%;
    left: 5%; */
    position: absolute;
    background: #2e2d30;
}

.content-header__description {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.content-header__description--cover {
    position: absolute;
    top: 45%;
    left: 40%;
    width: 40%;
    height: 40%;
}

.content-header__description--checkoutbtn {
    position: absolute;
    top: 60%;
    left: 39%;
    width: 15%;
    height: 10%;
}

.content-header__description--cover > h2 {
    color: #a6abad;
}

.content-header__cover-image {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.content-header__cover-image>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 60%;
    left: 5%;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.product {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.product:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.product-header {
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.product-cover {
    position: absolute;
    width: 100%;
    height: 100%;
}

.product-cover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name {
    /* color: #fff; */
    font-size: 1rem;
}

.product-price {
    /* color: #fff; */
    font-size: 1rem;
    color: rgba(160, 11, 11, 0.884);
}

.slick-list {
    height: 500px;
}

.items-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center; 
    align-items: center;
}